.tubs {
    border-spacing: -1px;
    border-collapse: collapse;
}

.tubs td {
    border: 2px solid black;
}

.tubs td {
    height: 30px;
    width: 30px;
}

.tubs button {
    margin-top: 5px;
}

.highlighted {
    background-color: yellow;
}