@font-face {
    font-family: KepatihanPro;
    src: url('assets/kepatihan_pro.ttf');
} 

.tubs {
    border-collapse: collapse;
}

.tubs td {
/*    border: 2px solid #888888; */
/*    padding: 5px; */
/*    height: 20px; */
/*    width: 20px; */
}

.highlighted {
    background-color: yellow;
}

.tubs tr span {
    margin-right: 7px;
    margin-top: 15px;
    float: right;
}

.tubs-div h2 {
    margin: 2px 0px 4px 0px;
    font-size: larger;
    display: inline;
}

.tubs-div h3 {
    margin: 2px 5px 4px 10px;
    font-size: medium;
    color: #777777;
    display: inline;
    float: right;
}

.tubs-div div button {
    margin-top: -5px;
    float: right;
}

.tubs-div div {
    margin-bottom: 4px;
}

.tubs-div {
    padding: 8px;
    background-color: #e5e5e5;

    border-radius:6px;
    -moz-border-radius:6px;
    display: inline-block;
}

.active {
    background-color: #cad7e5;
}

.content {
    margin: 0px 40px 40px 40px;
}

.nuba {
    margin-left: 10px;
}

.content p {
    max-width: 1000px;
    margin-top: 15px;
    margin-bottom: 3px;
}

.content h4 {
    margin-left: 20px;
    margin-top: 0px;
    color: #707070;
}

.content h3 {
    margin-bottom: -12px;
}

.content h2 {
    margin-bottom: 5px;
}

.content ol {
    margin-top: 3px;
    margin-bottom: -10px;
}

.gamelan td {
    font-family: KepatihanPro;
    width: .5em;
}

.kembangan td:nth-child(8n+1) {
    padding-left: 1.5em;
}

.kembangan {
    margin-top: -19px;
    margin-bottom: -7px;
}

.tubs-group {
    margin-bottom: 10px;
    vertical-align: top;
    display: inline-block;
}
.tubs-group .tubs-div {
    display: block;
    margin-bottom: 5px;
}